<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Razer_Kraken_Pro_headset_Full_size_Black</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Razer Kraken Pro - headset - Full size- Black
The Razer Kraken Pro gaming headset can extend gaming sessions as well as for unparalleled comfort on the go. The Razer Kraken Pro's large neodymium magnet drivers are tuned for clear high- and mid-ranges as well as deep bass for powerful lows. A closed ear cup deign with plush circumlunar padding creates superior sound isolation so you can focus on your game or conversation uninterrupted by outside noise.</description>
</model>
